// COLORS
$white: #fff;
$black: #000;
$black-dark: #050e1f;
$blue: #3172eb;
$blue-dark: #0a2378;
$gray: #eee;
$blue-light: #e9ecf3;
$gray-light: #d8e1eb;
$gray-light-2: #f2f6f9;
$danger: #d15a52;
$blue-fade: #7fb0da;
$success: #2d8f3b;
$info: #f3c200;
$blue-deep: #67809f;
$turq: #1bbc9b;
$gray-deep: #95a5a6;

$transparent-white: rgba(255, 255, 255, 0.2);
