.user-login-container {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../../images/front-end2.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  backdrop-filter: blur(3px);
}
